    <!-- About Section -->
    <section id="about" class="container content-section text-center">

	<div class="row">
	    <div class="col-lg-8 col-lg-offset-2">
	       <img src="/img/CM_Logo_Basic.png">
	       <!-- <h2>Code Martians</h2> -->
		<p>How do you explore new worlds and thrive?<br />
		It takes big dreams, and many small steps.<br />
		  At Code Martians, we develop ideas and turn them into mobile and web applications.
		  We do this agile style with clean code and best practices.<br />
		<br />
	    </div>
	</div>

    </section>
