    <!-- Intro Header -->
    <header class="intro">
	<div class="intro-body">
	    <div class="container">
		<div class="row">
		    <div class="col-md-8 col-md-offset-2">
		     <!--   <h1 class="brand-heading">Code Martians</h1> -->
		     <img src="/img/CM_Logo_W_SM.png">
			    <p class="intro-green-text">Creating Brave New Worlds with Code.</p>

		     <a href="#about" class="btn btn-circle page-scroll">
			    <i class="fa fa-angle-double-down animated"></i>
			</a>
		    </div>
		</div>
	    </div>
	</div>
    </header>
