<!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Here's What We are Working on Now.</p>
                    <a href="http://codemartians.com" class="btn btn-default btn-lg">Coming Soon</a>
                    <br>
                    <br>
                    <h4>Something wicked this way comes! The martians have come out of hibernation and are coding again. Stay tuned to your martian communication receivers...</h4>
                </div>
            </div>
        </div>
    </section>
